* {
	padding: 0;
	cursor: none;
	margin: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
}
.iphone {
	border: 3px solid rgb(0, 0, 0);
	width: 250px;
	background-color: rgba(0, 0, 0, 0.722);
	height: 530px;
	border-radius: 40px;	
	outline: 3px solid rgba(128, 128, 128, 0.623);
	position: relative;
}
.button-1 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 4px;
	height: 20px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	position: relative;
	left: -7px;
	top: 70px;
}
.button-2 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 4px;
	height: 50px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	position: relative;
	left: -7px;
	top: 90px;
}
.button-3 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 4px;
	height: 50px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	position: relative;
	left: -7px;
	top: 95px;
}
.button-4 {
	background-color: rgba(0, 0, 0, 0.7);
	width: 4px;
	height: 50px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	position: absolute;
	right: -7px;
	top: 122px;
	z-index: 1;
}
.line {
	background-color: black;
	width: 35%;
	height: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.baff {
	background-color: rgb(255, 255, 255);
	position: relative;
	width: 30px;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	top: 2px;
	border-radius: 10px;
}
.circle {
	background: radial-gradient(50% 50% at 55% 40%, #181818, #4d4c4c 75%, transparent) center;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: relative;
	left: 13px;
	top: -2px;
}
.under-line {
	background-color: white;
	width: 90px;
	height: 5px;
	border-radius: 10px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	animation: move-up 1s linear;
	display: none;
}

img {
	position: absolute;
	width: 250px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transform: .5s;
}

@keyframes move-up {
	0% {
		bottom: 5px;
	}
	50% {
		bottom: 15px;
	}
	100% {
		bottom: 5px;
	}
}
.cursor {
	background-color: rgba(73, 73, 233, 0.596);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.596);
	z-index: 1;
}